.no-wrap {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}
body {
    padding-top:30px;
}
.btn-group {
    width:100%;
    margin: 5px 0px 5px 0px;
}
.btn,.btn-secondary {
    width:100%;
    background-color:orange;
    color:#4d2a00;
    border-color:#4d2a00;
}
.btn:hover,.btn-secondary:hover {
    background-color:#ff8c00;
    border-color:#4d2a00;
    color:#4d2a00;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
    background-color:#4d2a00;
    border-color:#4d2a00;
    color:white;
}
.input-group-prepend{
    width: 50%;
}
.input-group{
    border-color:#ffddb3;
    margin: 5px 0px 5px 0px;
}
.input-group-text{
    width: 100%;
    background-color: #ffddb3;
}
.pad-row {
    margin-top:10px;
}
.input-group-text, .form-control {
    border-color: #ffddb3;
}
.disabled {
    background-color: #eeeeee;
    color: #aaaaaa;
}